<!DOCTYPE html>
<html>
  <head>
    <title><%= title + '-' + shortDes %></title>
    <link rel='stylesheet' href="./app<%=hash %>.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="content"></div>
    <script src="./vendors<%=hash %>.js"></script>
    <script src="./app<%=hash %>.js"></script>
  </body>
</html>
